.index-page{
    padding: 5.5rem 12%;
}

.info-block{
    display: grid;
    grid-template-columns: 1fr 55%;
    grid-template-rows: 1fr;
    grid-column-gap: 42px;
    grid-row-gap: 0px;
}

.company-info h1{
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
}
.company-info{
    position: relative;
}

.additional-text{
    position: absolute;
    bottom: 0px;
}
.second-info-block{
    margin-top: 9rem;
}

.title-second-block{
    font-weight: 600;
    font-size: 2rem;
}
.list-second-block {
    list-style-type: disc;
    padding-left: 20px;
}

.list-second-block{
    margin-top: 2rem;
}

.list-item {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.gallery-img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
.gallery-block{
    margin-top: 8rem;
}

.gallery-title{
    font-weight: 600;
    font-size: 2rem;
}

/* Адаптивность */
@media (max-width: 769px) {
    .index-page {
        padding: 2.5rem 5%;
    }
    .info-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .additional-text{
        position: initial;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .company-info h1 {
        font-size: 1.5rem;
    }
    .title-second-block {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {

    .gallery {
        grid-template-columns: 1fr;
    }

    .list-item {
        font-size: 0.9rem;
    }

    .title-second-block {
        font-size: 1.1rem;
    }

    .gallery-title {
        font-size: 1.2rem;
    }
}
