.tools-block{
    position: relative;
    height: 300px;
}
.tools-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
    padding-bottom: 80px;
}

.tool-card {
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tool-card:hover {
    border-color: brown;
}

.tool-image {
    max-width: 130px;
    height: auto;
}

.tool-name {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}
@media (max-width: 1161px) {
    .tool-card {
        width: 300px;
        height: 130px;
    }
    .tool-name {
        font-size: 20px;
    }
}

@media (max-width: 961px) {
    .tool-card {
        width: 250px;
        height: 120px;
    }
    .tool-name {
        font-size: 18px;
    }
}

@media (max-width: 769px) {
    .tools-block{
        height: 650px;
    }
    .tool-card {
        width: 350px;
        height: 150px;
    }
    .tool-name {
        font-size: 24px;
    }
    .tools-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 481px) {
    .tools-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}

